.UploadPage {
  text-align: center;
  padding-top: 20px;
}
.UploadPage {
  height: 100vh;
  animation: myFade 1s;
  -moz-animation: myFade 1s; /* Firefox */
  -webkit-animation: myFade 1s; /* Safari and Chrome */
  -o-animation: myFade 1s; /* Opera */
}

@keyframes myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes myFade {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes myFade {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes myFade {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.colorPicker {
  width: 40px;
  height: 40px;
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
}
.UploadHeader {
  font-weight: 600;
  color: #0b1987;
  font-size: 1.25em;
}
.UploadPageForm {
  line-height: 3em;
}
