.UploadPage {
  height: 100vh;
  text-align: center;
}
.colorPicker {
  width: 60px;
  height: 60px;

  margin: 3px;
  display: inline-block;
  vertical-align: middle;
}
#FrameGrid {
  margin: 0 auto;
}
