.UploadPage {
  text-align: center;
  padding-top: 20px;
}
.colorPicker {
  width: 40px;
  height: 40px;
  margin: 3px;
  display: inline-block;
  vertical-align: middle;
}
.UploadHeader {
  font-weight: 600;
  color: #0b1987;
  font-size: 1.25em;
}
.UploadPageForm {
  line-height: 3em;
}
