.LandingPage {
  height: 100vh;
  text-align: center;
}
.LandingPageLogo {
  font-size: 2rem;
  margin-top: 200px;
  width: 250px;
}

.LandingPage h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
.LandingPage p {
  font-size: 14px;
  margin-bottom: 30px;
}
