* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}
header {
  height: 60px;
  background: #cfcfcf;
}
section {
  height: 80vh;
  padding: 50px;
}
.even {
  background: #cfcfcf;
}
footer {
  height: 60px;
}
