.Button {
  border: none;
  background: #0b1987;
  color: #ffffff !important;
  font-weight: 100;
  padding: 15px 30px 15px 30px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  letter-spacing: 1px;
}
.Button:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 5px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(11, 25, 135, 0.77);
  -moz-box-shadow: 0px 5px 40px -10px rgba(11, 25, 135, 0.77);
  transition: all 0.3s ease 0s;
}
