.OrderPage {
  height: 100vh;
  text-align: center;
}
.OrderPage h2 {
  margin-top: 100px;
}
.FramedImage {
  width: 60%;
  margin: 10px auto;
  height: 30%;
  padding-top: 15%;
  background: #cfcfcf;
}
button {
  margin-bottom: 10px;
}
