.framePiece {
  background-size: contain;
}

.horizontalFrame {
  background-repeat: repeat-x;
}

.verticalFrame {
  background-repeat: repeat-y;
}

#bottomFrame {
  transform: rotate(180deg);
}

#leftFrame {
  transform: rotate(180deg);
}

#FrameGrid {
  display: grid;
  width: fit-content;
  margin: 10px auto;
  animation: myFade 1s;
  -moz-animation: myFade 1s; /* Firefox */
  -webkit-animation: myFade 1s; /* Safari and Chrome */
  -o-animation: myFade 1s; /* Opera */
}

@keyframes myFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes myFade {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes myFade {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes myFade {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#FrameGrid,
.framePiece {
  box-sizing: border-box;
}

#nwCorner {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#neCorner {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

#swCorner {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#seCorner {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

#FrameGrid > image {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
@media only screen and (max-width: 450px) {
  .userImage {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 1200px) {
  .userImage {
    width: 100%;
    height: auto;
  }
}
